<div id="section-loading" class="loading-page">
    <img class="loading-icon" src="../dist/img/general/loading.gif">
</div>
<aside class="side-menu" id="side-menu">
    <section class="sidebar">
        <ul class="sidebar-menu-tree">
            <li class="sidebar-title">MENÚ DE NAVEGACIÓN</li>
            <li class="treeview">
                <a href="" class="sidebar-subtitle" id="main-menu-title">
                    <i class="fas fa-home left-icon"></i>
                    <span class="side-text">PRINCIPAL</span>
                    <span class="right-icon" id="main-menu-icon">
                        <i class="fas fa-angle-left"></i>
                    </span>
                </a>
                <div id="main-menu-container">
                    <a href="" class="sidebar-subtitile-hidden">
                        <span>PRINCIPAL</span>
                        <span class="right-icon-hidden">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <ul id="main-menu" class="side-menu-hidden">
                        <li class="side-list">
                            <a href="#!maintenance" class="side-subtitle">
                                <i class="fas fa-wrench left-icon"></i>Mantenimiento</a>
                        </li>
                        <li class="side-list">
                            <a href="#!supervision" class="side-subtitle">
                                <i class="fas fa-chart-pie left-icon"></i>Supervisión</a>
                        </li>
                        <li class="side-list">
                            <a href="#!operation" class="side-subtitle">
                                <i class="fas fa-car left-icon"></i>Operación</a>
                        </li>
                        <li class="side-list">
                            <a href="#!GIS" class="side-subtitle">
                                <i class="fas fa-globe left-icon"></i>SIG</a>
                        </li>
                        <li class="side-list">
                            <a href="#!inventory" class="side-subtitle">
                                <i class="fas fa-box left-icon"></i>Inventario</a>
                        </li>
                        <li class="side-list">
                            <a href="#!documentation" class="side-subtitle">
                                <i class="fas fa-file-alt left-icon"></i>Documentación</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="treeview">
                <a href="" class="sidebar-subtitle sidebar-subtitile-selected" id="second-menu-title">
                    <i class="fas fa-box left-icon"></i>
                    <span class="side-text">INVENTARIO</span>
                    <span class="right-icon rotated" id="second-menu-icon">
                        <i class="fas fa-angle-left"></i>
                    </span>
                </a>
                <div id="second-menu-container">
                    <a href="" class="sidebar-subtitile-hidden">
                        <span>INVENTARIO</span>
                        <span class="right-icon-hidden">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <ul id="second-menu">
                        <li class="side-list">
                            <a href="#!vehicles" class="side-subtitle">
                                <i class="fas fa-ambulance left-icon"></i>Vehículos</a>
                        </li>
                    </ul>
                    <ul id="third-menu">
                        <li class="side-list">
                            <a href="#!place" class="side-subtitle">
                                <i class="fas fa-map left-icon"></i>Lugares</a>
                        </li>
                    </ul>
                    <ul id="fourth-menu">
                        <li class="side-list">
                            <a href="#!civil-work" class="side-subtitle">
                                <i class="fas fa-building left-icon"></i>Obras Civiles</a>
                        </li>
                    </ul>
                    <ul id="fifth-menu">
                        <li class="side-list">
                            <a href="#!sign" class="side-subtitle">
                                <i class="fas fa-ban left-icon"></i>Señalización</a>
                        </li>
                    </ul>
                    <ul id="sixth-menu">
                        <li class="side-list">
                            <a href="#!instrument" class="side-subtitle">
                                <i class="fas fa-boxes left-icon"></i>Instumentación</a>
                        </li>
                    </ul>
                    <ul id="seventh-menu">
                        <li class="side-list">
                            <a href="" class="side-subtitle">
                                <i class="fas fa-phone-volume left-icon"></i>ITS</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </section>
    <img src="../dist/img/general/concesion.png" class="menu-logo">
</aside>
<div class="container-elements">
    <h1 class="container-title">INVENTARIO</h1>
    <section class="content">
        <div class="row">
            <div class="col-6 col-md-4 text-center">
                <a href="#!vehicles" title="Gestión de Vehículos">
                    <button type="button" class="btn square-btn">
                        <img src="../dist/img/icons/ambulance.png" class="btn-image">
                        <div class="btn-title">Vehículos</div>
                    </button>
                </a>
            </div>
            <div class="col-6 col-md-4 text-center">
                <a href="#!place" title="Gestión de lugares">
                    <button type="button" class="btn square-btn">
                        <img src="../dist/img/icons/map.png" class="btn-image">
                        <div class="btn-title">Lugares</div>
                    </button>
                </a>
            </div>
            <div class="col-6 col-md-4 text-center">
                <a href="#!civil-work" title="Gestión de obras civiles">
                    <button type="button" class="btn square-btn">
                        <img src="../dist/img/icons/bridge.png" class="btn-image">
                        <div class="btn-title">Obras Civiles</div>
                    </button>
                </a>
            </div>
            <div class="col-6 col-md-4 text-center">
                <a href="#!sign" title="Gestión de señalización de la vía">
                    <button type="button" class="btn square-btn">
                        <img src="../dist/img/icons/traffic-sign.png" class="btn-image">
                        <div class="btn-title">Señalización</div>
                    </button>
                </a>
            </div>
            <div class="col-6 col-md-4 text-center">
                <a href="#!instrument" title="Administración de instrumentos de medida">
                    <button type="button" class="btn square-btn">
                        <img src="../dist/img/icons/instruments.png" class="btn-image">
                        <div class="btn-title">Instrumentación</div>
                    </button>
                </a>
            </div>
            <div class="col-6 col-md-4 text-center">
                <a href="#!ITS" title="Gestión de inventario de ITS">
                    <button type="button" class="btn square-btn">
                        <img src="../dist/img/icons/ITS.png" class="btn-image">
                        <div class="btn-title">ITS</div>
                    </button>
                </a>
            </div>
        </div>
    </section>
</div>