<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Prueba Técnica - SIC" />
    <meta name="author" content="Nicolás Torres" />
    <title>SIC</title>
    <!--  CSS3 LIBS  -->
    <link rel="stylesheet" type="text/css" href="libs/bootstrap-4.0.0/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="dist/css/log-in.css" />
</head>
<script type="text/javascript" src="libs/angular-1.6.9/angular.js"></script>

<body>
    <div class="login-container">
        <h1 class="text-center login-title">LOGIN</h1>
        <img class="login-image" src="dist/img/general/logo.png">
        <form method="post" enctype="application/x-www-form-urlencoded" id="login-form" name="login-form" action="http://localhost:8080/api/sic/login">
            <div class="login-form">
                <div class="login-group">
                    <svg class="login-icon" viewBox="0 0 20 20">
                        <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
                    </svg>
                    <input class="login-inputs" type="text" name="user" placeholder="Nombre de Usuario" />
                </div>
                <div class="login-group">
                    <svg class="login-icon" viewBox="0 0 20 20">
                        <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
                    </svg>
                    <input class="login-inputs" type="password" name="pass" placeholder="Contraseña" />
                    <input type="hidden" name="type" value="login" />
                </div>
                <a title="Clic para Iniciar Sesión">
                    <button class="btn btn-login" type="button" id="register-button">Iniciar Sesión</button>
                </a>
            </div>
        </form>
    </div>
    <!-- ERROR MODAL -->
    <div class="modal fade" id="login-modal" ng-app="log-in" ng-controller="login-controller">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">HA OCURRIDO UN ERROR</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="row modal-body">
                    <img class="modal-icon" src="dist/img/icons/warning.png" />
                    <div class="modal-text">{{errorMessagge}}</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn modal-btn" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- JAVASCRIPT LIBS -->
    <script type="text/javascript" src="libs/jquery-3.3.1/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="libs/bootstrap-4.0.0/js/bootstrap.js"></script>
    <script src="initial/login-script.js"></script>
</body>

</html>