<div id="section-loading" class="loading-page">
    <img class="loading-icon" src="../dist/img/general/loading.gif">
</div>
<aside class="side-menu" id="side-menu">
    <section class="sidebar">
        <ul class="sidebar-menu-tree">
            <li class="sidebar-title">MENÚ DE NAVEGACIÓN</li>
            <li class="treeview">
                <a href="" class="sidebar-subtitle" id="main-menu-title">
                    <i class="fas fa-home left-icon"></i>
                    <span class="side-text">PRINCIPAL</span>
                    <span class="right-icon" id="main-menu-icon">
                        <i class="fas fa-angle-left"></i>
                    </span>
                </a>
                <div id="main-menu-container">
                    <a href="" class="sidebar-subtitile-hidden">
                        <span>PRINCIPAL</span>
                        <span class="right-icon-hidden">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <ul id="main-menu" class="side-menu-hidden">
                        <li class="side-list">
                            <a href="#!maintenance" class="side-subtitle">
                                <i class="fas fa-wrench left-icon"></i>Mantenimiento</a>
                        </li>
                        <li class="side-list">
                            <a href="#!supervision" class="side-subtitle">
                                <i class="fas fa-chart-pie left-icon"></i>Supervisión</a>
                        </li>
                        <li class="side-list">
                            <a href="#!operation" class="side-subtitle">
                                <i class="fas fa-car left-icon"></i>Operación</a>
                        </li>
                        <li class="side-list">
                            <a href="#!GIS" class="side-subtitle">
                                <i class="fas fa-globe left-icon"></i>SIG</a>
                        </li>
                        <li class="side-list">
                            <a href="#!inventory" class="side-subtitle">
                                <i class="fas fa-box left-icon"></i>Inventario</a>
                        </li>
                        <li class="side-list">
                            <a href="#!documentation" class="side-subtitle">
                                <i class="fas fa-file-alt left-icon"></i>Documentación</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="treeview">
                <a href="" class="sidebar-subtitle sidebar-subtitile-selected" id="second-menu-title">
                    <i class="fas fa-box left-icon"></i>
                    <span class="side-text">INVENTARIO</span>
                    <span class="right-icon rotated" id="second-menu-icon">
                        <i class="fas fa-angle-left"></i>
                    </span>
                </a>
                <div id="second-menu-container">
                    <a href="" class="sidebar-subtitile-hidden">
                        <span>INVENTARIO</span>
                        <span class="right-icon-hidden">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <ul id="second-menu">
                        <li class="side-list">
                            <a href="#!vehicles" class="side-subtitle">
                                <i class="fas fa-ambulance left-icon"></i>Vehículos</a>
                        </li>
                    </ul>
                    <ul id="third-menu">
                        <li class="side-list">
                            <a href="#!place" class="side-subtitle">
                                <i class="fas fa-map left-icon"></i>Lugares</a>
                        </li>
                    </ul>
                    <ul id="fourth-menu">
                        <li class="side-list">
                            <a href="#!civil-work" class="side-subtitle">
                                <i class="fas fa-building left-icon"></i>Obras Civiles</a>
                        </li>
                    </ul>
                    <ul id="fifth-menu">
                        <li class="side-list">
                            <a href="#!sign" class="side-subtitle">
                                <i class="fas fa-ban left-icon"></i>Señalización</a>
                        </li>
                    </ul>
                    <ul id="sixth-menu">
                        <li class="side-list">
                            <a href="#!instrument" class="side-subtitle">
                                <i class="fas fa-boxes left-icon"></i>Instumentación</a>
                        </li>
                    </ul>
                    <ul id="seventh-menu">
                        <li class="side-list">
                            <a href="#!ITS" class="side-subtitle">
                                <i class="fas fa-phone-volume left-icon"></i>ITS</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </section>
    <img src="../dist/img/general/concesion.png" class="menu-logo">
</aside>
<div class="container-elements">
    <section class="content">
        <a href="#!vehicles">
            <button type="button" class="btn large-btn back-btn pos-absolute float-left">
                <img src="../dist/img/icons/back.png" class="large-btn-image" />
                <span class="align-middle right-text-btn back-button">Atrás</span>
            </button>
        </a>
        <h1 class="container-title">NUEVO VEHÍCULO</h1>
        <form action="inventory/vehicle/vehicle-controller.php" id="vehicle-form" name="vehicle-form" enctype="multipart/form-data"
            method="post">
            <div class="row">
                <div class="col-md-6">
                    <div class="card bg-light mb-3">
                        <div class="card-header">
                            <div class="card-title-black">
                                <i class="fab fa-wpforms left-icon"></i>
                                Información General
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-image-container">
                                <img src="../dist/img/icons/vehicle.png" class="form-image" />
                            </div>
                            <input type="hidden" name="actionType" value="creation">
                            <input type="hidden" name="creationDate" />
                            <input type="hidden" name="inventoryType" value="Vehículo">
                            <input type="hidden" name="photoID" value="{{photoID}}">
                            <div class="form-group">
                                <label>Nombre del Vehículo:</label>
                                <input type="text" class="form-control" name="name" ng-model="name" />
                            </div>
                            <div class="form-group">
                                <label>Foto:</label>
                                <input type="file" accept=".jpg, .jpeg, .png, .bmp, .gif" class="form-control-file" name="photo" ng-model="photo" />
                            </div>
                            <div class="form-group">
                                <label>Tipo de Vehículo:</label>
                                <select name="vehicleType" class="form-control" ng-model="vehicleType">
                                    <option>Grúa</option>
                                    <option>Carro-Taller</option>
                                    <option>Ambulancia</option>
                                    <option>Vehículo de Vigilancia</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Marca:</label>
                                <input type="text" class="form-control" name="brand" ng-model="brand" />
                            </div>
                            <div class="form-group">
                                <label>Modelo:</label>
                                <input type="text" class="form-control" name="model" ng-model="model" />
                            </div>
                            <div class="form-group">
                                <label>Placa:</label>
                                <input type="text" class="form-control" name="plate" ng-model="plate" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card bg-light mb-3">
                        <div class="card-header">
                            <div class="card-title-black">
                                <i class="fab fa-wpforms left-icon"></i>
                                Revisiones
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Fecha renovación SOAT:</label>
                                <input type="text" class="form-control" name="soat" ng-model="soat" />
                                <input type="hidden" name="initialSoat">
                                <input type="hidden" name="finalSoat">
                            </div>
                            <div class="form-group">
                                <label>Fecha última Técnico-Mecánica:</label>
                                <input type="text" class="form-control" name="tm" ng-model="tm" />
                                <input type="hidden" name="initialTm">
                                <input type="hidden" name="finalTm">
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="identifier" value="{{identifier}}">
                    <div class="card bg-light mb-3">
                        <div class="card-header">
                            <div class="card-title-black">
                                <i class="fab fa-wpforms left-icon"></i>
                                Archivos Adjuntos
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Tamaño</th>
                                        <th class="delete-column">Borrar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td id="nameFile"></td>
                                        <td id="sizeFile"></td>
                                        <td class="text-center">
                                            <a href="" class="delete-trash" title="Borrar Archivo">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                            </table>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn large-btn" id="sub-button" data-toggle="popover" title="Campos Faltantes" data-content="Existen campos vacíos que son necesarios.">
                            <img src="../dist/img/icons/{{imgAction}}.png" class="large-btn-image" />
                            <span class="align-middle right-text-btn">{{formAction}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>
<!-- MODALS -->
<div class="modal fade" id="confirm-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">CONFIRMAR LA CREACIÓN DEL VEHÍCULO</h4>
                <button id="close-modal" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="row modal-body">
                <img class="modal-icon" src="../dist/img/icons/warning.png" />
                <div class="modal-text">Creará un nuevo vehículo para su inventario. ¿Desea continuar?
                </div>
            </div>
            <div class="modal-footer">
                <button id="confirm-btn" type="button" class="btn modal-btn" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="password-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">MODIFICACIÓN DE INFORMACIÓN</h4>
                <button id="close-modify-modal" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>
                        <b>Ingrese su contraseña para verificar su identidad.</b>
                        <input type="password" class="form-control modal-input" name="password" ng-model="password">
                </div>
                <div class="row">
                    <img class="modal-icon" src="../dist/img/icons/unlock.png" />
                    <div class="modal-text">Para realizar esta acción es necesario verificar sus credenciales de acceso.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="continue-button" type="button" class="btn modal-btn" data-dismiss="modal">Continuar</button>
            </div>
        </div>
    </div>
</div>