<div id="section-loading" class="loading-page">
    <img class="loading-icon" src="../dist/img/general/loading.gif">
</div>
<aside class="side-menu" id="side-menu">
    <section class="sidebar">
        <ul class="sidebar-menu-tree">
            <li class="sidebar-title">MENÚ DE NAVEGACIÓN</li>
            <li class="treeview">
                <a href="" class="sidebar-subtitle" id="main-menu-title">
                    <i class="fas fa-home left-icon"></i>
                    <span class="side-text">PRINCIPAL</span>
                    <span class="right-icon" id="main-menu-icon">
                        <i class="fas fa-angle-left"></i>
                    </span>
                </a>
                <div id="main-menu-container">
                    <a href="" class="sidebar-subtitile-hidden">
                        <span>PRINCIPAL</span>
                        <span class="right-icon-hidden">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <ul id="main-menu" class="side-menu-hidden">
                        <li class="side-list">
                            <a href="#!maintenance" class="side-subtitle">
                                <i class="fas fa-wrench left-icon"></i>Mantenimiento</a>
                        </li>
                        <li class="side-list">
                            <a href="#!supervision" class="side-subtitle">
                                <i class="fas fa-chart-pie left-icon"></i>Supervisión</a>
                        </li>
                        <li class="side-list">
                            <a href="#!operation" class="side-subtitle">
                                <i class="fas fa-car left-icon"></i>Operación</a>
                        </li>
                        <li class="side-list">
                            <a href="#!GIS" class="side-subtitle">
                                <i class="fas fa-globe left-icon"></i>SIG</a>
                        </li>
                        <li class="side-list">
                            <a href="#!inventory" class="side-subtitle">
                                <i class="fas fa-box left-icon"></i>Inventario</a>
                        </li>
                        <li class="side-list">
                            <a href="#!documentation" class="side-subtitle">
                                <i class="fas fa-file-alt left-icon"></i>Documentación</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="treeview">
                <a href="" class="sidebar-subtitle sidebar-subtitile-selected" id="second-menu-title">
                    <i class="fas fa-box left-icon"></i>
                    <span class="side-text">INVENTARIO</span>
                    <span class="right-icon rotated" id="second-menu-icon">
                        <i class="fas fa-angle-left"></i>
                    </span>
                </a>
                <div id="second-menu-container">
                    <a href="" class="sidebar-subtitile-hidden">
                        <span>INVENTARIO</span>
                        <span class="right-icon-hidden">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <ul id="second-menu">
                        <li class="side-list">
                            <a href="#!vehicles" class="side-subtitle">
                                <i class="fas fa-ambulance left-icon"></i>Vehículos</a>
                        </li>
                    </ul>
                    <ul id="third-menu">
                        <li class="side-list">
                            <a href="#!place" class="side-subtitle">
                                <i class="fas fa-map left-icon"></i>Lugares</a>
                        </li>
                    </ul>
                    <ul id="fourth-menu">
                        <li class="side-list">
                            <a href="#!civil-work" class="side-subtitle">
                                <i class="fas fa-building left-icon"></i>Obras Civiles</a>
                        </li>
                    </ul>
                    <ul id="fifth-menu">
                        <li class="side-list">
                            <a href="#!sign" class="side-subtitle">
                                <i class="fas fa-ban left-icon"></i>Señalización</a>
                        </li>
                    </ul>
                    <ul id="sixth-menu">
                        <li class="side-list">
                            <a href="#!instrument" class="side-subtitle">
                                <i class="fas fa-boxes left-icon"></i>Instumentación</a>
                        </li>
                    </ul>
                    <ul id="seventh-menu">
                        <li class="side-list">
                            <a href="#!ITS" class="side-subtitle">
                                <i class="fas fa-phone-volume left-icon"></i>ITS</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </section>
    <img src="../dist/img/general/concesion.png" class="menu-logo">
</aside>
<div class="container-elements">
    <section class="content">
        <div class="row">
            <div class="col-6">
                <a href="#!inventory">
                    <button type="button" class="btn large-btn float-left">
                        <img src="../dist/img/icons/back.png" class="large-btn-image" />
                        <span class="align-middle right-text-btn">Atrás</span>
                    </button>
                </a>
            </div>
            <div class="col-6">
                <a href="#!new-vehicle">
                    <button type="button" class="btn large-btn float-right">
                        <img src="../dist/img/icons/ambulance.png" class="large-btn-image" />
                        <span class="align-middle right-text-btn">Nuevo Vehículo</span>
                    </button>
                </a>
            </div>
        </div>
        <h1 class="container-title">VEHÍCULOS</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-light mb-3">
                    <div class="card-header">
                        <div class="card-title-black">
                            <i class="fas fa-ambulance left-icon"></i>
                            Vehículos de la Concesión
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumn" class="table table-striped table-bordered compact hover">
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Tipo de Vehículo</th>
                                        <th>Marca</th>
                                        <th>Modelo</th>
                                        <th>Placa</th>
                                        <th>Vencimiento SOAT</th>
                                        <th>Vencimiento Técnico-Mecánica</th>
                                        <th>Ficha</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in rows">
                                        <td> {{x.id}} </td>
                                        <td>{{x.name}}</td>
                                        <td>{{x.vehicle_type}}</td>
                                        <td>{{x.brand}}</td>
                                        <td>{{x.model}}</td>
                                        <td>{{x.plates}}</td>
                                        <td>{{x.SOAT_expiration}}</td>
                                        <td>{{x.TM_expiration}}</td>
                                        <td class="text-center">
                                            <a href="#!vehicle-info?id={{x.id}}">
                                                <img class="table-image" src="../dist/img/icons/doc-element.png">
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>