<div id="section-loading" class="loading-page">
    <img class="loading-icon" src="../dist/img/general/loading.gif">
</div>
<aside class="side-menu" id="side-menu">
    <section class="sidebar">
        <ul class="sidebar-menu-tree">
            <li class="sidebar-title">MENÚ DE NAVEGACIÓN</li>
            <li class="treeview">
                <a href="" class="sidebar-subtitle" id="main-menu-title">
                    <i class="fas fa-home left-icon"></i>
                    <span class="side-text">PRINCIPAL</span>
                    <span class="right-icon" id="main-menu-icon">
                        <i class="fas fa-angle-left"></i>
                    </span>
                </a>
                <div id="main-menu-container">
                    <a href="" class="sidebar-subtitile-hidden">
                        <span>PRINCIPAL</span>
                        <span class="right-icon-hidden">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <ul id="main-menu" class="side-menu-hidden">
                        <li class="side-list">
                            <a href="#!maintenance" class="side-subtitle">
                                <i class="fas fa-wrench left-icon"></i>Mantenimiento</a>
                        </li>
                        <li class="side-list">
                            <a href="#!supervision" class="side-subtitle">
                                <i class="fas fa-chart-pie left-icon"></i>Supervisión</a>
                        </li>
                        <li class="side-list">
                            <a href="#!operation" class="side-subtitle">
                                <i class="fas fa-car left-icon"></i>Operación</a>
                        </li>
                        <li class="side-list">
                            <a href="#!GIS" class="side-subtitle">
                                <i class="fas fa-globe left-icon"></i>SIG</a>
                        </li>
                        <li class="side-list">
                            <a href="#!inventory" class="side-subtitle">
                                <i class="fas fa-box left-icon"></i>Inventario</a>
                        </li>
                        <li class="side-list">
                            <a href="#!documentation" class="side-subtitle">
                                <i class="fas fa-file-alt left-icon"></i>Documentación</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="treeview">
                <a href="" class="sidebar-subtitle sidebar-subtitile-selected" id="second-menu-title">
                    <i class="fas fa-box left-icon"></i>
                    <span class="side-text">INVENTARIO</span>
                    <span class="right-icon rotated" id="second-menu-icon">
                        <i class="fas fa-angle-left"></i>
                    </span>
                </a>
                <div id="second-menu-container">
                    <a href="" class="sidebar-subtitile-hidden">
                        <span>INVENTARIO</span>
                        <span class="right-icon-hidden">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <ul id="second-menu">
                        <li class="side-list">
                            <a href="#!vehicles" class="side-subtitle">
                                <i class="fas fa-ambulance left-icon"></i>Vehículos</a>
                        </li>
                    </ul>
                    <ul id="third-menu">
                        <li class="side-list">
                            <a href="#!place" class="side-subtitle">
                                <i class="fas fa-map left-icon"></i>Lugares</a>
                        </li>
                    </ul>
                    <ul id="fourth-menu">
                        <li class="side-list">
                            <a href="#!civil-work" class="side-subtitle">
                                <i class="fas fa-building left-icon"></i>Obras Civiles</a>
                        </li>
                    </ul>
                    <ul id="fifth-menu">
                        <li class="side-list">
                            <a href="#!sign" class="side-subtitle">
                                <i class="fas fa-ban left-icon"></i>Señalización</a>
                        </li>
                    </ul>
                    <ul id="sixth-menu">
                        <li class="side-list">
                            <a href="#!instrument" class="side-subtitle">
                                <i class="fas fa-boxes left-icon"></i>Instumentación</a>
                        </li>
                    </ul>
                    <ul id="seventh-menu">
                        <li class="side-list">
                            <a href="#!ITS" class="side-subtitle">
                                <i class="fas fa-phone-volume left-icon"></i>ITS</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </section>
    <img src="../dist/img/general/concesion.png" class="menu-logo">
</aside>
<div class="container-elements">
    <section class="content">
        <a href="#!vehicles">
            <button type="button" class="btn large-btn back-btn pos-absolute float-left">
                <img src="../dist/img/icons/back.png" class="large-btn-image" />
                <span class="align-middle right-text-btn back-button">Atrás</span>
            </button>
        </a>
        <h1 class="container-title">FICHA VEHÍCULO</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card bg-light mb-3">
                    <div class="card-header">
                        <div class="card-title-black">
                            <i class="fab fa-wpforms left-icon"></i>
                            Información General
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-image-container">
                            <img ng-src="../{{imagePath}}" class="form-photo" />
                        </div>
                        <div class="form-group">
                                <label>Identificador:</label>
                                <span class="font-weight-normal">{{ID}}</span>
                            </div>
                        <div class="form-group">
                            <label>Nombre del Vehículo:</label>
                            <span class="font-weight-normal">{{name}}</span>
                        </div>
                        <div class="form-group">
                            <label>Tipo de Vehículo:</label>
                            <span class="font-weight-normal">{{vehicleType}}</span>
                        </div>
                        <div class="form-group">
                            <label>Marca:</label>
                            <span class="font-weight-normal">{{brand}}</span>
                        </div>
                        <div class="form-group">
                            <label>Modelo:</label>
                            <span class="font-weight-normal">{{model}}</span>
                        </div>
                        <div class="form-group">
                            <label>Placa:</label>
                            <span class="font-weight-normal">{{plate}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-light mb-3">
                    <div class="card-header">
                        <div class="card-title-black">
                            <i class="fab fa-wpforms left-icon"></i>
                            Mantenimiento
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Fecha Vencimiento SOAT:</label>
                            <span class="font-weight-normal">{{soatExpiration}}</span>
                        </div>
                        <div class="form-group">
                            <label>Fehca de Vencimiento Técnico-Mecánica</label>
                            <span class="font-weight-normal">{{tmExpiration}}</span>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="#!new-vehicle?id={{ID}}" title="Modificar la información del vehículo">
                        <button type="button" class="btn large-btn">
                            <img src="../dist/img/icons/modify.png" class="large-btn-image" />
                            <span class="align-middle right-text-btn">Modificar Registro</span>
                        </button>
                    </a>
                    <a href="#!new-inventory-maintenance?urlType=Vehículo&urlKind={{vehicleType}}&urlElement={{name}}" title="Crear acción de mantenimiento del vehículo">
                        <button type="button" class="btn large-btn">
                            <img src="../dist/img/icons/maintenance.png" class="large-btn-image" />
                            <span class="align-middle right-text-btn">Crear Mantenimiento</span>
                        </button>
                    </a>
                    <form action="inventory/vehicle/vehicle-controller.php" id="eliminate-form" name="eliminate-form" enctype="application/x-www-form-urlencoded"
                        method="post">
                        <input type="hidden" name="eliminate" value="{{inventoryID}}">
                        <input type="hidden" name="imageID" value={{imageID}}>
                    </form>
                    <button type="button" id="eliminate-button" class="btn large-btn" title="Eliminar vehículo del inventario">
                        <img src="../dist/img/icons/eliminate.png" class="large-btn-image" />
                        <span class="align-middle right-text-btn">Eliminar Elemento</span>
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="password-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">ELIMINAR INFORMACIÓN</h4>
                    <button id="close-modify-modal" type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>
                            <b>Ingrese su contraseña para verificar su identidad.</b>
                            <input type="password" class="form-control modal-input" name="password" ng-model="password">
                    </div>
                    <div class="row">
                        <img class="modal-icon" src="../dist/img/icons/unlock.png" />
                        <div class="modal-text">Para eliminar el vehículo del inventario es necesario verificar sus credenciales de acceso.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="continue-button" type="button" class="btn modal-btn" data-dismiss="modal">Continuar</button>
                </div>
            </div>
        </div>
    </div>